<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DemoQA Suite" verbose="1" parallel="false">

    <!-- ✅ Attach only Extent listener -->
    <listeners>
        <listener class-name="utils.TestListener"/>
    </listeners>

    <test name="DemoQA Tests">
        <classes>
            <class name="tests.DemoQATextBoxTest"/>
            <class name="tests.DemoQACheckBoxTest"/>
            <class name="tests.DemoQAWebTableTest"/>
        </classes>
    </test>
</suite>
