<suite name="DemoQA Suite" verbose="1" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="utils.TestListener"/>
    </listeners>

    <test name="Chrome Tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.DemoQATextBoxTest"/>
            <class name="tests.DemoQACheckBoxTest"/>
            <class name="tests.DemoQAWebTableTest"/>
        </classes>
    </test>

    <test name="Firefox Tests">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="tests.DemoQATextBoxTest"/>
            <class name="tests.DemoQACheckBoxTest"/>
            <class name="tests.DemoQAWebTableTest"/>
        </classes>
    </test>
</suite>
